@media only screen and (max-device-width:812px) {
	.project-body-container{
		height: none;
	}
	.new-project-body-background {
		height: none;
	}
	.new-header-container {
	    font-family: "Source Sans Pro", Helvetica, sans-serif;
	    padding-top: 32px;
	    width: 90%;
	    display: flex;
	    flex-direction: column-reverse;
	    /* justify-content: space-between; */
	    margin: 0 auto;
	}
	.new-header-info-container {
		text-align: left;
		display: flex;
		/*flex-direction: column;*/
		justify-content: space-between;
		margin-top: 8px;
		/*border: 2px solid red;*/
	}
	.new-header-name {
		font-size: 5em;
		font-weight: 400;
	}
	.new-header-description-position {
	  /*align-self: flex-end;*/
	  font-size: 4em;
	  font-weight: 300;
	  color: #252627;
	  letter-spacing: 1px;
	  width: 75%;
	  margin-top: 10%;
	  margin-left: 4%;
	}
	.new-header-description-location {
	  /*align-self: flex-end;*/
	  font-size: 4em;
	  font-weight: 300;
	  color: #252627;
	  letter-spacing: 1px;
	  width: 75%;
	  margin-top: 5%;
	  margin-left: 4%;
	}
	.new-header-profile-photo-container {
	  height: 100%;
	  max-width: 350px;
	  align-self: flex-end;

	}
	.new-header-profile-photo {
	  height: 100%;
	  width: 100%;
	}
	.new-contact-logo {
	    height: 23%;
	    width: 23%;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.new-header-contact-scroll-button {
		display: none;
	}
	.new-single-project-frame {
	  font-family: "Source Sans Pro", Helvetica, sans-serif;
	  width: 100%;
	  height: none;	
	}
	.new-single-project {
	    display: flex;
	    flex-direction: column;
	    /* justify-content: space-between; */
	    width: 83%;
	    padding-top: 34px;
	    margin: 0 auto;
	}
}