body {
  color: black;
  margin: 0;
  background-image: url("../assets/Texture_lt_blue_002.jpg");
  background-repeat: repeat;
}

header {
  text-align: center;
}

header p {
  font-weight: bold;
}

a {
  cursor: pointer;
}

p {
  font-style: italic;
}

.projects-title-container {

}

.fade-enter {
  top: 0px;
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
  display: none;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  display: none;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
  display: none;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  display: none;
  transition: opacity .5s ease-in;
}

.single-project-tech-used {
  height: 55px;
  width: 720px;
  display: flex;
  flex-direction: row;
}

.single-project-tech-logo {
  height: 50px;
  width: 50px;
  margin-right: 6px;
}

.matter-js-logo {
  height: 30px;
  width: auto;
  margin-top: 2px;
  margin-left: 7px;
}

/**//**//**//**//**//**/


/**//**//**//**//**//**/

/*OLD LOOK*/

/**//**//**//**//**//**/


/**//**//**//**//**//**/

.old-header-name {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
}

marquee {
  font-size: 22px;
  width: 320px;
  margin-bottom: 10px;
}

.old-contact-links {
  font-weight: bold;
  margin-bottom: 15px;
}

.old-contact-logo {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.old-projects-title {
  font-weight: bold;
  font-size: 41px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 26px;
}

.old-single-project-container {
  height: 275px;
  width: 90%;
  border: 8px rgb(220, 245, 243);
  border-style: ridge;
  background-image: url("../assets/beige158.gif");
  margin: 0 auto;
  margin-top: 22px;
}

.old-single-project {
  display: flex;
  width: 100%;
  margin-top: 24px;
  margin-left: 24px;
}

.old-single-project-screenshot-container {
  height: 225px;
  width: 348px;
  display: inline-block;
  margin-bottom: 15px;
}

.old-single-project-screenshot {
  height: 100%;
  width: 100%;
}

.old-single-project-description {
  height: 188px;
  width: 726px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
  margin-top: 20px;
}

.old-single-project-description h3 {
  font-size: 33px;
  font-weight: bold;
}

.old-single-project-description p {
  font-size: 18px;
  width: 500px;
  margin-left: 5px;
}

.old-banner-row {
  display: flex;
  justify-content: space-around;
  width: 430px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.old-contact-info {
  height: 90px;
  width: 1050px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0 auto;
}

/**//**//**//**//**//**/


/**//**//**//**//**//**/

/*NEW LOOK*/

/**//**//**//**//**//**/


/**//**//**//**//**//**/

.new-header-container {
  background-color: #fefefe;
  padding-top: 1px;
}

.new-header-name {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
}

.new-header-description {
  font-size: 22px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.new-contact-links {
  font-weight: bold;
  margin-bottom: 15px;
}

.new-projects-title {
  font-weight: bold;
  font-size: 41px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 26px;
  background-color: #fefefe;
}

.new-contact-logo {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.new-single-project-frame {
  width: 100%;
  height: 279px;
  background-color: white;
}

.new-single-project-container {
  height: 275px;
  width: 90%;
  border: 3px solid #fefefe;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  padding-top: 22px;
}

.new-single-project {
  display: flex;
  width: 100%;
  margin-top: 24px;
  margin-left: 24px;
}

.new-single-project-screenshot-container {
  height: 225px;
  width: 348px;
  display: inline-block;
  margin-bottom: 15px;
}

.new-single-project-screenshot {
  height: 100%;
  width: 100%;
}

.new-single-project-description {
  height: 188px;
  width: 726px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
  margin-top: 20px;
}

.new-single-project-description h3 {
  font-size: 33px;
  font-weight: bold;
}

.new-single-project-description p {
  font-size: 18px;
  width: 500px;
  margin-left: 5px;
}

.new-banner-row {
  background-color: #fefefe;
  display: flex;
  justify-content: space-around;
  width: 430px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.new-contact-info {
  background-color: #fefefe;
  height: 120px;
  width: 1050px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0 auto;
}

.new-contact-info h2 {
  line-height: 4.5;
  font-size: 22px;
  font-weight: bold;
}
/**//**//**//**//**//**/


/**//**//**//**//**//**/

/**//**//**//**//**//**/


/**//**//**//**//**//**/

.banner-ad {
  cursor: pointer;
  height: 60px;
}
