body {
  color: black;
  margin: 0;
  background-image: url("../assets/Texture_lt_blue_002.jpg");
  background-repeat: repeat;
}

header {
  text-align: center;
}

header p {
  font-weight: bold;
}

a {
  cursor: pointer;
}

p {
  font-style: italic;
}

.header-name {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
}

marquee {
  font-size: 22px;
  width: 320px;
  margin-bottom: 10px;
}

.contact-links {
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-logo {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.projects-title {
  font-weight: bold;
  font-size: 41px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 26px;
}

.single-project-container {
  height: 275px;
  width: 90%;
  border: 8px rgb(220, 245, 243);
  border-style: ridge;
  background-image: url("../assets/beige158.gif");
  margin: 0 auto;
  margin-top: 22px;
}

.single-project {
  display: flex;
  width: 100%;
  margin-top: 24px;
  margin-left: 24px;
}

.single-project-screenshot-container {
  height: 225px;
  width: 348px;
  display: inline-block;
  margin-bottom: 15px;
}

.single-project-screenshot {
  height: 100%;
  width: 100%;
}

.single-project-description {
  height: 188px;
  width: 726px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
  margin-top: 20px;
}

.single-project-description h3 {
  font-size: 33px;
  font-weight: bold;
}

.single-project-description p {
  font-size: 18px;
  width: 500px;
  margin-left: 5px;
}

.single-project-tech-used {
  height: 55px;
  width: 720px;
  display: flex;
  flex-direction: row;
}

.single-project-tech-logo {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

#matter-js-logo {
  height: 30px;
  width: auto;
  margin-top: 14px;
}

.banner-row {
  display: flex;
  justify-content: space-around;
  width: 430px;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 30px;
}

.banner-ad {
  cursor: pointer;
  height: 60px;
}

.contact-info {
  border: 1px solid black;
  height: 90px;
  width: 1050px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
