body {
  margin: 0;
  color: black;
  background-color: rgba(252,252,252,0.5);
  

}

header {
  text-align: center;
}

header p {
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: 18px;
}

.fade-enter {
  top: 0px;
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
  display: none;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  display: none;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
  display: none;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  display: none;
  transition: opacity .5s ease-in;
}

.page-clear {
  height: 27px;
}

.project-body-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  -webkit-transform: translateZ(0);
}

.style-switch-button {
  position: fixed;
  height: 30px;
  width: 140px;
  margin-left: 36px;
  margin-top: 36px;
  z-index: 5;
}

.single-project-tech-used {
  height: 55px;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single-project-tech-logo {
  height: 48px;
  width: 48px;
  margin-right: 6px;
}

.matter-js-logo {
  height: 30px;
  width: auto;
  margin-top: 16px;
  margin-left: 7px;
}

/**//**//**//**//**//**/


/**//**//**//**//**//**/

/*OLD LOOK*/

/**//**//**//**//**//**/


/**//**//**//**//**//**/

.old-header-name {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 15px;
  padding: 0;
}

.marquee {
  font-size: 22px;
  width: 320px;
  margin-bottom: 16px;
}

.old-contact-links {
  font-weight: bold;
  margin-bottom: 15px;
}

.old-contact-logo {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.old-projects-title {
  font-weight: bold;
  font-size: 41px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 26px;
}

.old-single-project-container {
  height: 275px;
  width: 90%;
  border: 8px rgb(220, 245, 243);
  border-style: ridge;
  background-image: url("../assets/beige158.gif");
  margin: 0 auto;
}

.old-single-project {
  display: flex;
  width: 90%;
  margin-top: 24px;
  margin-left: 12%;
}

.old-single-project-screenshot-container {
  height: 225px;
  width: 348px;
  display: inline-block;
  margin-bottom: 15px;
}

.old-single-project-screenshot {
  height: 100%;
  width: 100%;
}

.old-single-project-description {
  height: 216px;
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 31px;
  margin-top: 2px;
}

.old-single-project-description h3 {
  font-size: 33px;
  font-weight: bold;
}

.old-single-project-description p {
  line-height: 27px;
  font-size: 18px;
  width: 500px;
  margin-left: 1px;
}

.old-banner-row {
  display: flex;
  justify-content: space-around;
  width: 430px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.old-contact-info {
  height: 90px;
  width: 1050px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin: 0 auto;
}

/**//**//**//**//**//**/


/**//**//**//**//**//**/

/*NEW LOOK*/

/**//**//**//**//**//**/


/**//**//**//**//**//**/

.new-project-body-background {
  position: relative;
  border-radius: 4px;
  margin: 0 auto;
  width: 90%;
  min-width: 1140px;
  height: 100%;
}

.new-header-container {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  padding-top: 32px;
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-left: 30%;
}

.new-header-profile-photo-container {
  height: 100%;
  max-width: 150px;
}

.new-header-profile-photo {
  height: 100%;
  width: 100%;
}

.new-header-info-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
  height: 144px;
}

.new-header-name {
  color: #252627;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  padding: 0;
}

.new-header-description {
  font-size: 32px;
  font-weight: 300;
  color: #252627;
  letter-spacing: 1px;
  width: 398px;
}

.new-header-contact-scroll-button p {
  margin-top: 26px;
  height: 32px;
  width: 128px;
  border: 2px solid #252627;
  border-radius: 4px;
  color: #252627;


  transition: background-color 0.4s;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
}

.new-header-contact-scroll-button p:hover {
  cursor: pointer;


  background-color: rgba(249,246,241,0.9);


}

.new-contact-logo {
  height: 32px;
  width: 32px;

  margin-left: 5px;
  margin-right: 5px;
}

.new-contact-links {
  font-weight: 300;
  margin-top: 24px;
}

.new-projects-title-border-container {
  height: 90px;
  width: 100%;
}

.new-projects-title-border {
  padding-top: 16px;
  margin: 0 auto;
  height: 43px;
  width: 240px;
}

.new-projects-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #252627;
  text-align: center;
  width: 100%;
}

.new-single-project-frame {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  width: 100%;
  height: 292px;
}

.new-single-project-container {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  height: 100%;
  width: 90%;
  min-width: 912px;
  border-radius: 5px;
  transition: background-color 0.4s;
  background-color: rgba(244,239,231,0.6);
  margin: 0 auto;
}

.new-single-project-container:hover {
  background-color: rgba(249,246,241,0.9);
}

.new-single-project {
  display: flex;
  justify-content: space-between;
  width: 83%;
  padding-top: 34px;
  margin: 0 auto;
}

.new-single-project-screenshot-container {
  height: 100%;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 15px;
}

.new-external-link-image {
  display: none;
}

.new-single-project-screenshot-container:hover .new-external-link-overlay-green {
  border-radius: 4px;
  position: absolute;
  background-color: rgba(39, 70, 144, 0.6);
  cursor: pointer;
  opacity: .6;
  height: 100%;
  width: 100%;
  max-width: 360px;
  max-height: 224px;
}

.new-single-project-screenshot-container:hover .new-external-link-overlay-red {
  border-radius: 4px;
  position: absolute;
  background-color: rgba(242, 66, 19, 0.6);
  cursor: pointer;
  opacity: .6;
  height: 100%;
  width: 100%;
  max-width: 360px;
  max-height: 224px;
}

.new-single-project-screenshot-container:hover .new-external-link-image {
  border-radius: 4px;
  position: absolute;
  opacity: .6;
  height: 150px;
  width: 150px;
  display: inline;
  cursor: pointer;
  left: 29%;
  top: 15%;
}

.new-single-project-screenshot {
  border-radius: 4px;
  height: 224px;
  width: 360px;
}

.new-single-project-description {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 34px;
  margin-top: 24px;
}

.new-single-project-description-link {
  color: #252627;
  text-decoration: none;
}

.new-single-project-description-link :hover {
  cursor: pointer;
}

.new-single-project-description-link h3 {
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  transform: color 0.2s;
}

.new-single-project-description-link h3:hover {
  color: #274690;
}

.new-single-project-description-link-maintenance {
  color: #252627;
  text-decoration: none;
}

.new-single-project-description-link-maintenance :hover {
  cursor: pointer;
}

.new-single-project-description-link-maintenance h3 {
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  transform: color 0.2s;
}

.new-single-project-description-link-maintenance h3:hover {
  color: rgba(242, 66, 19);
}

.new-single-project-description p {
  letter-spacing: 0.25px;
  line-height: 24px;
  font-size: 16px;
  margin-left: 1px;
}

.new-banner-row-container {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.new-banner-row {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 27px;
}

.new-banner-row-divider {
  width: 90%;
}

.new-footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
   margin: 0 auto;
  width: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
}

.new-contact-info {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  height: 100%;
  width: 93%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.new-contact-info div p {
  border: 2px solid #252627;
  border-radius: 4px;
  color: #252627;
  transition: background-color 0.4s;
  background-color: rgba(244,239,231,0.8);

  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 2.1;
  height: 48px;
}

.new-contact-info div p:hover {
  cursor: pointer;
  background-color: rgba(249,246,241,0.9);
}

.new-email {
  width: 143px;
}

.new-resume {
  width: 143px;
}

.new-guest-book {
  width: 170px;
}

.new-guest-book p {
  text-decoration: none;
}

/**//**//**//**//**//**/


/**//**//**//**//**//**/

/**//**//**//**//**//**/


/**//**//**//**//**//**/

.banner-ad {
  cursor: pointer;
  height: 60px;
}
